button:not(:last-child), a {
    margin-bottom: 20px;
    padding: 12px 32px;
}

button, a {
    font-size: 18px;
}

.wannahireme_logo {
    display: block;
    margin: 12px auto;
}

.lower-dock {
    margin-top: auto;
}